In [277]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [278]:
def get_key(count, value):
    '''Функция предназначена для возвращения ключей по конктретному значению (value) в словарях'''
    keys = []
    for k, v in count.items():
        if v == value:
            keys.append(k)
    return keys

In [279]:
def month(dat):
    '''Функция ищет определенный символ в слове и возвращяет все символы, которые были до него'''
    sym = "/"
    index = dat.find(sym)
    return dat[:index]

In [280]:
data = pd.read_csv('movie_bd_v5.xls')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
197,tt2369135,66000000,203277636,Need for Speed,Aaron Paul|Dominic Cooper|Imogen Poots|Rami Ma...,Scott Waugh,For honor. For love. For redemption.,The film revolves around a local street-racer ...,130,Action|Crime|Drama|Thriller,DreamWorks SKG|Reliance Entertainment|Bandito ...,3/13/2014,6.2,2014
1820,tt0212338,55000000,330444045,Meet the Parents,Ben Stiller|Robert De Niro|Teri Polo|Blythe Da...,Jay Roach,First comes love. Then come the interrogation.,"Greg Focker is ready to marry his girlfriend, ...",108,Comedy|Romance,DreamWorks SKG|Universal Pictures|Tribeca Prod...,10/5/2000,6.5,2000
565,tt0236784,21000000,28008462,The Tailor of Panama,Pierce Brosnan|Geoffrey Rush|Jamie Lee Curtis|...,John Boorman,"In a place this treacherous, what a good spy n...",A British spy is banished to Panama after havi...,109,Drama|Thriller,Columbia Pictures|Merlin Films,2/11/2001,5.7,2001
223,tt1441395,13300000,5380251,Under the Skin,Scarlett Johansson|KryÅ¡tof HÃ¡dek|Paul Branni...,Jonathan Glazer,A mysterious seductress preys upon the populat...,"Jonathan Glazer's atmospheric, visually arrest...",108,Thriller|Science Fiction|Drama,Scottish Screen|UK Film Council|FilmNation Ent...,3/14/2014,6.0,2014
1826,tt0186151,31000000,68106245,Frequency,Dennis Quaid|Jim Caviezel|Andre Braugher|Eliza...,Gregory Hoblit,The future is listening.,When a rare phenomenon gives police officer Jo...,118,Crime|Drama|Science Fiction|Thriller,New Line Cinema,4/28/2000,6.8,2000

In [281]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [282]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

In [283]:
answers['1'] = '723. Pirates of the Caribbean: On Stranger Tides(tt1298650)'

In [284]:
data[data.budget == data.budget.max()].original_title #Извлекаем из data данные по условию

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

# 2. Какой из фильмов самый длительный (в минутах)?

In [285]:
answers['2'] = '1157. Gods and Generals(tt0279111)'

In [286]:
#Извлекаем из data данные по условию, используюя метод 'Максимум'
data[data.runtime == data.runtime.max()].original_title

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [287]:
answers['3'] = '768. Winnie the Pooh(tt1449283)'

In [288]:
#Извлекаем из data данные по условию, используюя метод 'Минимум'
data[data.runtime == data.runtime.min()].original_title

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [289]:
answers['4'] = '110'

In [290]:
data["runtime"].mean() #Используем метод 'Среднее значение' от колонки "runtime"

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [291]:
answers['5'] = '107'

In [292]:
data["runtime"].median() #Используем метод 'Медиана' от колонки "runtime"

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [293]:
answers['6'] = '239. Avatar(tt0499549)'

In [294]:
data["profit"] = data["revenue"] - data["budget"] #Создаем новую колонку "profit"
data[data.profit == data.profit.max()].original_title #Извлекаем из data данные по условию

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [295]:
answers['7'] = '1245. The Lone Ranger (tt1210819)'

In [296]:
data[data.profit == data.profit.min()].original_title #Извлекаем из data данные по условию

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [297]:
answers['8'] = '1478'

In [298]:
#Используем условие: прибыль больше нуля, и используем метод "Количество непустых элементов"
data[data.profit > 0].imdb_id.count()

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [299]:
answers['9'] = 'The Dark Knight (tt0468569)'

In [300]:
#Задаем конкретный год и используем функцию сортировки (по убыванию) для прибыли
profits = data[(data.release_year == 2008)].profit.sort_values(ascending=False)
index = profits.index[0] #Создаем переменную для хранения индекса первого элемента
data.loc[index]['original_title'] #Выводим нужный фильм по индексу

'The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [301]:
answers['10'] = 'The Lone Ranger(tt1210819)'

In [302]:
#Задаем период времени и используем  функцию сортировки (по возрастанию) для прибыли
profits = data.query("2012 <= release_year <= 2014").profit.sort_values()
index = profits.index[0] #Создаем переменную для хранения индекса первого элемента
data.loc[index]["original_title"] #Выводим нужный фильм по индексу

'The Lone Ranger'

# 11. Какого жанра фильмов больше всего?

In [303]:
answers['11'] = 'Drama'

In [304]:
#Создаем Series, содержащий суммарное количество каждого жанра в data 
#(жанры повторяются, т.к. в файле присутствует группировка)
genres = data.genres.value_counts().sort_values(ascending=False)
genres = pd.Series(genres.index, genres.loc[:]) #Меняем местами элементы и индексы
genres = genres.apply(lambda x: x.split("|")) #Разделяем сгруппированные жарны, каждый элемент находится в списке
count = Counter() #Создаем переменную (Модуль collections)

for i in range(len(genres)): #Проходимся по всем спискам жанров 
    for genre in genres.iloc[i]: #Проходимя по жанрам в конкретном списке
        count[genre] += genres.index[i] #Считаем количество каждого отдельного жанра

genres_sum = pd.Series(count) #Создаем Series от переменной count
genres_sum.sort_values(ascending = False).index[0] #Сортируем элементы по убыванию и выбираем первый

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [305]:
answers['12'] = 'Drama'

In [306]:
#Создаем новый DataFrame с колонками 'genres' и 'profit'
new_genres = data.loc[:, ['genres', 'profit']]
#Разделяем сгруппированные жарны, каждый элемент находится в списке
new_genres["genres"] = new_genres['genres'].apply(lambda x: x.split("|"))
count = Counter() #Создаем переменную для счета прибыльных жанров кино

for i in range(len(new_genres['genres'])): #Проходимся по всем спискам жанров 
    for genre in new_genres['genres'][i]: #Проходимя по жанрам в конкретном списке
        if new_genres['profit'][i] > 0: #Учет прибыльности жанра
            count[genre] += 1 #Счеткик жанров

#Переменная для хранения максимального значения элемента в count
max_profit = max(count.values())
print(get_key(count, max_profit))

['Drama']

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [307]:
answers['13'] = 'Peter Jackson'

In [308]:
#Создаем новый DataFrame с колонками 'revenue' и 'director'
directors = data.loc[:, ['revenue', 'director']]
#Разделяем сгруппированные имена директоров, каждый элемент находится в списке
directors["director"] = directors['director'].apply(lambda x: x.split("|"))
count = Counter() #Создаем переменную для счета кассовых сборов от каждого директора

for i in range(len(directors['director'])): #Проходимся по всем спискам имен
    for name in directors['director'][i]: #Проходимя по именам в конкретном списке
        count[name] += directors['revenue'][i] #Счеткик кассовых сборов
        
max_revenue = max(count.values())
print(get_key(count, max_revenue))

['Peter Jackson']

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [309]:
answers['14'] = 'Robert Rodriguez'

In [310]:
#Создаем новый DataFrame с колонками 'genres' и 'director'
directors_df = data.loc[:, ['genres', 'director']]
#Разделяем сгруппированные имена директоров, каждый элемент находится в списке
directors_df["genres"] = directors_df['genres'].apply(lambda x: x.split("|"))
count = Counter()
directors = []
sym = "|"

for i in range(len(directors_df['genres'])): #Проходимся по всем спискам жанров
    for genre in directors_df['genres'][i]: #Проходимя по жанрам в конкретном списке
        if genre == "Action": #Создаем условие для конкретного жанра
            directors.append(directors_df['director'][i]) #Добавляем в список имена режиссеров

directors_sep = Counter()
for names in directors: #Проходимся по именам режиссеров в списке (имена сгруппированы) 
    if sym in names: #Создаем условие для поиска нескольких режиссеров, работающих над одним фильмом
        #Разделяем сгруппированных режиссеров 
        for name in names.split(sym): 
            directors_sep[name] += 1 
    else: #Если у фильма один режиссер
        directors_sep[names] += 1
        
num = max(directors_sep.values())
print(get_key(directors_sep, num))

['Robert Rodriguez']

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [311]:
answers['15'] = 'Chris Hemsworth'

In [312]:
#Создаем новый DataFrame с колонками 'revenue', 'cast' и "release_year"
cast_df = data.loc[:, ['revenue', 'cast', "release_year"]]
#Разделяем сгруппированные имена актеров, каждый элемент находится в списке
cast_df["cast"] = cast_df['cast'].apply(lambda x: x.split("|"))
count = Counter()

for i in range(len(cast_df['cast'])): #Проходимся по всем спискам актеров
    for actor in cast_df['cast'][i]: #Проходимя по именам актеров в конкретном списке
        if cast_df['release_year'][i] == 2012: #Создаем условие для конкретного года
            count[actor] += cast_df['revenue'][i]  #Считаем кассовые сборы для каждого актера

revenue = max(count.values())        
print(get_key(count, revenue))

['Chris Hemsworth']

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [313]:
answers['16'] = 'Matt Damon'

In [314]:
#Создаем новый DataFrame с колонками 'budget' и 'cast'
cast_df = data.loc[:, ['budget', 'cast']]
#Разделяем сгруппированные имена актеров, каждый элемент находится в списке
cast_df["cast"] = cast_df['cast'].apply(lambda x: x.split("|"))
count = Counter()

for i in range(len(cast_df['cast'])): #Проходимся по всем спискам актеров
    for actor in cast_df['cast'][i]: #Проходимя по именам актеров в конкретном списке
        #Создаем условие для бюджета фильмов
        if cast_df["budget"][i] > cast_df.budget.median():
            count[actor] += 1

budget = max(count.values())
print(get_key(count, budget))

['Matt Damon']

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [315]:
answers['17'] = 'Action'

In [316]:
#Создаем новый DataFrame с колонками 'genres' и 'cast'
cast_df = data.loc[:, ['genres', 'cast']]
#Разделяем сгруппированные имена актеров, каждый элемент находится в списке
cast_df["cast"] = cast_df['cast'].apply(lambda x: x.split("|"))
genres = []
sym = "|"

for i in range(len(cast_df['cast'])):  #Проходимся по всем спискам актеров
    for actor in cast_df['cast'][i]: #Проходимя по именам актеров в конкретном списке
        if actor == "Nicolas Cage": #Задаем условие для конкретного актера
            genres.append(cast_df['genres'][i]) #Вносим в список жанры фильмов
            
genres_sep = Counter()
for genre in genres: #Проходимся по всем спискам жанров
    if sym in genre: #Проверяем наличие объединяющего знака
        #Проходимся по жанрам, объединенным знаком sym
        for el in genre.split(sym): 
            genres_sep[el] += 1
    else: #Проходимся по жанрам, не объединенным знаком sym
        genres_sep[genre] += 1
        
num = max(genres_sep.values())
print(get_key(genres_sep, num))

['Action']

# 18. Самый убыточный фильм от Paramount Pictures

In [317]:
answers['18'] = 'K-19: The Widowmaker'

In [318]:
#Создаем новый DataFrame с колонками 'original_title', "profit" и 'production_companies'
films_df = data.loc[:, ['original_title', 'production_companies', "profit"]]
#Разделяем сгруппированные названия студий, каждый элемент находится в списке
films_df["production_companies"] = films_df['production_companies'].apply(lambda x: x.split("|"))
films = {}

for i in range(len(films_df['production_companies'])): #Проходимся по всем спискам названий студий
    for company in films_df['production_companies'][i]: #Проходимя по названию студии в конкретном списке
        if "Paramount Pictures" in company: #Задаем условие для конкретной студии
            films[films_df['original_title'][i]] = films_df['profit'][i] #Добавляем в словарь фильмы и прибыль
            
profit = min(films.values())
print(get_key(films, profit))

['K-19: The Widowmaker']

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [319]:
answers['19'] = '2015'

In [320]:
#Создаем новый DataFrame с колонками 'genres' и 'cast'
new_df = data.loc[:, ['release_year', "profit"]]
count = Counter()

for i in range(len(new_df["release_year"])): #Проходимся по всем годам
    count[new_df['release_year'][i]] += new_df["profit"][i] #Суммируем прибыль по каждому году

profit = max(count.values())
print(get_key(count, profit))

[2015]

# 20. Какой самый прибыльный год для студии Warner Bros?

In [321]:
answers['20'] = '2014'

In [322]:
#Создаем новый DataFrame с колонками 'release_year', "profit" и 'production_companies'
year_df = data.loc[:, ['release_year', 'production_companies', "profit"]]
#Разделяем сгруппированные названия студий, каждый элемент находится в списке
year_df["production_companies"] = year_df['production_companies'].apply(lambda x: x.split("|"))
count = Counter()

for i in range(len(year_df['production_companies'])): #Проходимся по всем спискам названий студий
    for com in year_df['production_companies'][i]: #Проходимя по названию студии в конкретном списке
        if "Warner Bros." in com: #Задаем условие для конкретной студии
            count[year_df['release_year'][i]] += year_df['profit'][i] #Суммируем прибыль по каждому году

profit = max(count.values())
print(get_key(count, profit))

[2014]

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [323]:
answers['21'] = 'Сентябрь'

In [324]:
#Создаем новый DataFrame с колонками 'original_title' и 'release_date'
films_df = data.loc[:, ['original_title', 'release_date']]
count = Counter()

#Применяем функцию month, чтобы оставить только месяц в колонке release_date
new_date = films_df.release_date.apply(month) 
films_df['release_date'] = new_date 

for i in range(len(films_df["release_date"])): #Проходимся по всем месяцам
    count[films_df['release_date'][i]] += 1 #Суммируем количество фильмов от одинаковых месяцов

num = max(count.values())
print(get_key(count, num))

['9']

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [325]:
answers['22'] = '450'

In [326]:
'''В этой программе используется новый DataFrame из задания 21 (films_df)'''
count = Counter()

for i in range(len(films_df["release_date"])): #Проходимся по всем месяцам
    if ((films_df['release_date'][i] == "6") or \
        (films_df['release_date'][i] == "7") or \
        (films_df['release_date'][i] == "8")): #Задаем условие на летние месяцы
        count[films_df['release_date'][i]] += 1 #Суммируем фильмы, вышедшие в летние месяцы

film = 0 
for films in count.values(): #Проходимся по значениям в словаре
    film += films #Суммируем значения
print(film)

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [327]:
answers['23'] = 'Peter Jackson'

In [328]:
#Создаем новый DataFrame с колонками 'director' и 'release_date'
directors_df = data.loc[:, ['release_date', "director"]]
#Разделяем сгруппированные имена режиссеров, каждый элемент находится в списке
directors_df["director"] = directors_df['director'].apply(lambda x: x.split("|"))
#Оставляем только месяц в колонке release_date
new_date = directors_df.release_date.apply(month) 
directors_df['release_date'] = new_date
count = Counter()

for i in range(len(directors_df['director'])): #Проходимся по всем спискам с именами режиссеров
    for name in directors_df['director'][i]: #Проходимся по именам в списке
        if (directors_df['release_date'][i] == "12") or \
            (directors_df['release_date'][i] == "1") or \
            (directors_df['release_date'][i] == "2"): #Задаем условие на зимние месяцы
            count[name] += 1 #Суммируем режиссеров, выпустивших фильмы зимой

director = max(count.values())
print(get_key(count, director))

['Peter Jackson']

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [329]:
answers['24'] = 'Four By Two Productions'

In [330]:
#Создаем новый DataFrame с колонками 'original_title' и 'production_companies'
new_df = data.loc[:, ['original_title', "production_companies"]]
#Разделяем сгруппированные названия студий, каждый элемент находится в списке
new_df["production_companies"] = new_df['production_companies'].apply(lambda x: x.split("|"))
count_len = Counter()
count_com = Counter()

for i in range(len(new_df["production_companies"])): #Проходимся по всем спискам с именами студий
    for com in new_df["production_companies"][i]: #Проходимся по именам студий в списке
        count_len[com] += len(new_df["original_title"][i]) #Для каждой студии считаем длину названия фильмов
        count_com[com] += 1 #Считаем количество фильмов, выпущенных студией

count_res = {}
for l in count_com:
    #Делим длину фильма на количество фильмов для конкретной студии
    count_res[l] = (count_len[l] / count_com[l]) 
num = max(count_res.values())
print(get_key(count_res, num))

['Four By Two Productions']

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [331]:
answers['25'] = 'Midnight Picture Show'

In [332]:
#Создаем новый DataFrame с колонками 'overview' и 'production_companies'
film_df = data.loc[:, ['overview', "production_companies"]]
#Разделяем сгруппированные названия студий, каждый элемент находится в списке
film_df["production_companies"] = film_df['production_companies'].apply(lambda x: x.split("|"))
count_len = Counter()
count_com = Counter()

for i in range(len(film_df["production_companies"])): #Проходимся по всем спискам с именами студий
    for com in film_df["production_companies"][i]: #Проходимся по именам студий в списке
        #Считаем длину описания по количеству слов 
        count_len[com] += len(film_df["overview"][i].split(" ")) 
        count_com[com] += 1 #Считаем количество фильмов, выпущенных студией

count_res = {}
for l in count_len:
    #Делим длину описания к фильму на количество фильмов для конкретной студии
    count_res[l] = (count_len[l] / count_com[l])
num = max(count_res.values())
print(get_key(count_res, num))

['Midnight Picture Show']

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [333]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

In [334]:
#Создаем новый DataFrame с колонками 'original_title' и 'vote_average'
vote_df = data.loc[:, ['original_title', "vote_average"]]
films = []

for i in range((len(vote_df["vote_average"]))): #Проходимся по всем рейтингам
    #Задаем условие для рейнинга (q=0.99)
    if vote_df["vote_average"][i] > vote_df.vote_average.quantile(q=0.99): 
        films.append(vote_df["original_title"][i])
print(films)

['Inside Out', 'Room', 'Interstellar', 'Guardians of the Galaxy', 'The Imitation Game', 'Gone Girl', 'The Grand Budapest Hotel', 'Inception', 'The Dark Knight', 'The Pianist', 'The Lord of the Rings: The Return of the King', 'The Wolf of Wall Street', '12 Years a Slave', 'Memento']

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [335]:
answers['27'] = 'Rupert Grint, Daniel Radcliffe'

In [336]:
def compare_names(name1, name2): 
    """Функция, получающая на вход два имени и возвращающая упорядоченные имена в одной строке"""
    if name1 == name2: #В составе актеров бывают повторения имен
        return name1
    for letter1, letter2 in zip(name1, name2): #Упорядовачием имена и возвращаем их одной строкой
        if letter1 > letter2:
            return name1 + ' ' + name2
        elif letter1 < letter2:
            return name2 + ' ' + name1

In [337]:
#Создаем новый DataFrame с колонками 'original_title' и 'cast'
new_df = data.loc[:, ['original_title', "cast"]]
#Разделяем сгруппированные имена актеров, каждый элемент находится в списке
new_df["cast"] = new_df["cast"].apply(lambda x: x.split("|"))
actors = []
counter = Counter()

for i in range(len(new_df["cast"])): #Проходимся по всем спискам с именами актеров 
    for el in new_df["cast"][i]: #Проходимся по каждому актеру в списке
        actors.append((el, new_df["original_title"][i])) #Добавляем в список пару: имя актера - фильм
#Создаем Series из списка
count_sr = pd.Series((i[0] for i in actors), (i[1] for i in actors))

#Проходимся по всем фильмам
for i in count_sr.index.unique():
    #Для каждой пары актеров в фильме увеличиваем счетчик совместной работы
    for j in range(len(count_sr[count_sr.index == i]) - 2):  
        for k in range(j+1, len(count_sr[count_sr.index == i]) - 1):
            name = compare_names(count_sr[count_sr.index == i][j], count_sr[count_sr.index == i][k])
            counter[name] += 1

In [338]:
number = max(counter.values())
print(get_key(counter, number))

['Rupert Grint Daniel Radcliffe', 'Emma Watson Daniel Radcliffe', 'Rupert Grint Emma Watson']

# Submission

In [339]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides(tt1298650)',
 '2': '1157. Gods and Generals(tt0279111)',
 '3': '768. Winnie the Pooh(tt1449283)',
 '4': '110',
 '5': '107',
 '6': '239. Avatar(tt0499549)',
 '7': '1245. The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger(tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Rupert Grint, Daniel Radcliffe'}

In [340]:
# и убедиться что ни чего не пропустил)
len(answers)

27